<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="height: 22rem; background-image: url('https://images.unsplash.com/photo-1470305585628-a7d2cb18efa2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');">
	<div class="container mx-auto w-full">
		<div class="flex flex-col w-1/2 justify-center items-start px-6 pb-6 tracking-wide bg-gray-100/75 rounded-r-lg">
			<h1 class="text-black text-2xl my-4"><%= @sale.name %></h1>
			<p><strong>Items on sale:</strong> <%= @sale.items_count %></p>
		</div>
	</div>
</section>

<section class="bg-white py-8 container w-full">
  <div class="w-full container mx-auto pt-4 pb-12 text-gray-500">
    <%= simple_format @sale.description %>
  </div>
</section>

<section class="bg-white py-8">
  <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">
  <% @offers.each do |offer| %>
    <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
      <a href="/sale/<%= @sale.id %>/offer/<%= offer.id %>">
        <img class="hover:grow hover:shadow-lg" src="<%= offer.image_url %>">
        <div class="pt-3 flex items-center justify-between">
          <p><%= offer.name %></p>
          <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded uppercase last:mr-0 mr-1 <%= availability_classes(offer) %>">
            <%= availability_label(offer) %>
          </span>
        </div>
        <p class="pt-1 text-gray-900"><%= offer.price %></p>
      </a>
    </div>
  <% end %>
  </div>
</section>

